Finding missing values

In [1]:
import pandas as pd

In [2]:
train_data_raw = pd.read_csv('/content/drive/MyDrive/Assignment_2/train.csv')

In [3]:
train_data_raw.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [4]:
train_data_raw.drop(train_data_raw.columns[0], axis=1, inplace=True)

In [5]:
train_data_raw.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [6]:
missing_values = train_data_raw.isna().sum()

In [7]:
for column in missing_values.index:
    if missing_values[column] > 0:
        if train_data_raw[column].dtype == 'object':
            mode_value = train_data_raw[column].mode()[0]
            train_data_raw[column].fillna(mode_value, inplace=True)
        else:
            mean_value = train_data_raw[column].mean()
            train_data_raw[column].fillna(mean_value, inplace=True)

In [12]:
train_data_raw.head(30)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,5.20
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,1.95
8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.49
10,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.60
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,4.78 Lakh,27.00
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,4.78 Lakh,17.50
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
14,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,4.78 Lakh,5.40
15,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.78 Lakh,5.99
16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,4.78 Lakh,6.34
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,4.78 Lakh,28.00
18,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,4.78 Lakh,8.25
20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,4.78 Lakh,23.50
21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,4.78 Lakh,1.87
22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,4.78 Lakh,2.85
23,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,4.78 Lakh,4.25
24,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,16.48 km/kg,1461 CC,63.1 bhp,5.0,4.78 Lakh,4.25
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.75
26,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,4.78 Lakh,4.00
28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,Diesel,Manual,First,19.01 kmpl,1461 CC,108.45 bhp,5.0,4.78 Lakh,7.75
29,Toyota Corolla Altis G,Delhi,2012,87615,Petrol,Manual,First,14.53 kmpl,1798 CC,138.1 bhp,5.0,4.78 Lakh,6.75

In [10]:
train_data_raw.to_csv('/content/drive/MyDrive/Assignment_2/clean_data.csv')

In [11]:
train_data_raw

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.78 Lakh,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,4.78 Lakh,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,4.78 Lakh,2.50

Removing the Units

In [13]:
clean_data = pd.read_csv('/content/drive/MyDrive/Assignment_2/clean_data.csv')

In [14]:
clean_data['Mileage'] = clean_data['Mileage'].str.replace('kmpl', '').str.replace('km/kg', '').astype(float)
clean_data['Engine'] = clean_data['Engine'].str.replace('CC', '').astype(float)
clean_data['Power'] = clean_data['Power'].str.replace('bhp', '').astype(float)
clean_data['New_Price'] = clean_data['New_Price'].str.replace('Lakh', '').str.replace('Cr', '').astype(float)

In [15]:
clean_data.head(30)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4.78,12.50
1,1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,4.78,6.00
3,3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,4.78,17.74
4,4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,4.78,3.50
5,5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,21.00,17.50
6,6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,4.78,5.20
7,7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,74.00,5.0,4.78,1.95
8,8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
9,9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,4.78,4.49
10,10,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.20,1248.0,74.00,5.0,4.78,5.60
11,11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.70,2179.0,187.70,5.0,4.78,27.00
12,12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.00,2179.0,115.00,5.0,4.78,17.50
13,13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477.0,175.56,7.0,32.01,15.00
14,14,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.80,1498.0,98.60,5.0,4.78,5.40
15,15,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.40,1248.0,74.00,5.0,4.78,5.99
16,16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45,1461.0,83.80,5.0,4.78,6.34
17,17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84,2143.0,167.62,5.0,4.78,28.00
18,18,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995.0,190.00,5.0,47.87,18.55
19,19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65,1248.0,88.50,5.0,4.78,8.25
20,20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53,1984.0,177.01,5.0,4.78,23.50
21,21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.50,1197.0,80.00,5.0,4.78,1.87
22,22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.40,1598.0,103.60,5.0,4.78,2.85
23,23,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.80,1497.0,116.30,5.0,4.78,4.25
24,24,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,16.48,1461.0,63.10,5.0,4.78,4.25
25,25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92,998.0,67.10,5.0,4.78,2.75
26,26,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.50,1199.0,88.70,5.0,10.57,9.90
27,27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.80,2494.0,102.00,7.0,4.78,4.00
28,28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,Diesel,Manual,First,19.01,1461.0,108.45,5.0,4.78,7.75
29,29,Toyota Corolla Altis G,Delhi,2012,87615,Petrol,Manual,First,14.53,1798.0,138.10,5.0,4.78,6.75

Change categorical variables

In [16]:
processed_data = pd.get_dummies(clean_data, columns=['Fuel_Type', 'Transmission'])

In [18]:
processed_data.to_csv('/content/drive/MyDrive/Assignment_2/clean_data.csv', index=False)

In [19]:
processed_data.head(30)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1
1,1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1
2,2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1
3,3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0
4,4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1
5,5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,21.00,17.50,1,0,0,1,0
6,6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,4.78,5.20,1,0,0,0,1
7,7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,4.78,1.95,1,0,0,0,1
8,8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,10.65,9.95,0,0,1,0,1
9,9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,4.78,4.49,0,0,1,1,0
10,10,Maruti Swift VDI BSIV,Jaipur,2015,64424,First,25.20,1248.0,74.00,5.0,4.78,5.60,1,0,0,0,1
11,11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.70,2179.0,187.70,5.0,4.78,27.00,1,0,0,1,0
12,12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.00,2179.0,115.00,5.0,4.78,17.50,1,0,0,1,0
13,13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477.0,175.56,7.0,32.01,15.00,1,0,0,0,1
14,14,Honda Amaze S i-Dtech,Kochi,2016,58950,First,25.80,1498.0,98.60,5.0,4.78,5.40,1,0,0,0,1
15,15,Maruti Swift DDiS VDI,Jaipur,2017,25000,First,28.40,1248.0,74.00,5.0,4.78,5.99,1,0,0,0,1
16,16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,First,20.45,1461.0,83.80,5.0,4.78,6.34,1,0,0,0,1
17,17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84,2143.0,167.62,5.0,4.78,28.00,1,0,0,1,0
18,18,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995.0,190.00,5.0,47.87,18.55,1,0,0,1,0
19,19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Second,23.65,1248.0,88.50,5.0,4.78,8.25,1,0,0,0,1
20,20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,First,13.53,1984.0,177.01,5.0,4.78,23.50,0,0,1,1,0
21,21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,First,18.50,1197.0,80.00,5.0,4.78,1.87,0,0,1,0,1
22,22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,First,14.40,1598.0,103.60,5.0,4.78,2.85,0,0,1,1,0
23,23,Honda City Corporate Edition,Mumbai,2012,51920,First,16.80,1497.0,116.30,5.0,4.78,4.25,0,0,1,0,1
24,24,Nissan Micra Diesel XV,Hyderabad,2012,54000,First,16.48,1461.0,63.10,5.0,4.78,4.25,1,0,0,0,1
25,25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Second,20.92,998.0,67.10,5.0,4.78,2.75,0,0,1,0,1
26,26,Honda WRV i-VTEC VX,Kochi,2018,37430,First,17.50,1199.0,88.70,5.0,10.57,9.90,0,0,1,0,1
27,27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Fourth & Above,12.80,2494.0,102.00,7.0,4.78,4.00,1,0,0,0,1
28,28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,First,19.01,1461.0,108.45,5.0,4.78,7.75,1,0,0,0,1
29,29,Toyota Corolla Altis G,Delhi,2012,87615,First,14.53,1798.0,138.10,5.0,4.78,6.75,0,0,1,0,1

Calculate current age of the cars

In [20]:
import datetime

In [21]:
current_year = datetime.datetime.now().year

In [24]:
data = pd.read_csv('/content/drive/MyDrive/Assignment_2/clean_data.csv')

In [25]:
data['Current_Age'] = current_year - data['Year']

In [26]:
data.head(30)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1,9
1,1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13
2,2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1,12
3,3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0,11
4,4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1,11
5,5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,21.00,17.50,1,0,0,1,0,8
6,6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,4.78,5.20,1,0,0,0,1,11
7,7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,4.78,1.95,1,0,0,0,1,12
8,8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,10.65,9.95,0,0,1,0,1,6
9,9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,4.78,4.49,0,0,1,1,0,12
10,10,Maruti Swift VDI BSIV,Jaipur,2015,64424,First,25.20,1248.0,74.00,5.0,4.78,5.60,1,0,0,0,1,9
11,11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.70,2179.0,187.70,5.0,4.78,27.00,1,0,0,1,0,10
12,12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.00,2179.0,115.00,5.0,4.78,17.50,1,0,0,1,0,12
13,13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477.0,175.56,7.0,32.01,15.00,1,0,0,0,1,10
14,14,Honda Amaze S i-Dtech,Kochi,2016,58950,First,25.80,1498.0,98.60,5.0,4.78,5.40,1,0,0,0,1,8
15,15,Maruti Swift DDiS VDI,Jaipur,2017,25000,First,28.40,1248.0,74.00,5.0,4.78,5.99,1,0,0,0,1,7
16,16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,First,20.45,1461.0,83.80,5.0,4.78,6.34,1,0,0,0,1,10
17,17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84,2143.0,167.62,5.0,4.78,28.00,1,0,0,1,0,10
18,18,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995.0,190.00,5.0,47.87,18.55,1,0,0,1,0,10
19,19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Second,23.65,1248.0,88.50,5.0,4.78,8.25,1,0,0,0,1,9
20,20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,First,13.53,1984.0,177.01,5.0,4.78,23.50,0,0,1,1,0,9
21,21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,First,18.50,1197.0,80.00,5.0,4.78,1.87,0,0,1,0,1,14
22,22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,First,14.40,1598.0,103.60,5.0,4.78,2.85,0,0,1,1,0,14
23,23,Honda City Corporate Edition,Mumbai,2012,51920,First,16.80,1497.0,116.30,5.0,4.78,4.25,0,0,1,0,1,12
24,24,Nissan Micra Diesel XV,Hyderabad,2012,54000,First,16.48,1461.0,63.10,5.0,4.78,4.25,1,0,0,0,1,12
25,25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Second,20.92,998.0,67.10,5.0,4.78,2.75,0,0,1,0,1,11
26,26,Honda WRV i-VTEC VX,Kochi,2018,37430,First,17.50,1199.0,88.70,5.0,10.57,9.90,0,0,1,0,1,6
27,27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Fourth & Above,12.80,2494.0,102.00,7.0,4.78,4.00,1,0,0,0,1,17
28,28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,First,19.01,1461.0,108.45,5.0,4.78,7.75,1,0,0,0,1,11
29,29,Toyota Corolla Altis G,Delhi,2012,87615,First,14.53,1798.0,138.10,5.0,4.78,6.75,0,0,1,0,1,12

In [29]:
grouped = data.groupby('Location')

In [31]:
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,1,0,0,0,1,9
1,1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13
2,2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,1,0,0,0,1,12
3,3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,1,0,0,1,0,11
4,4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,1,0,0,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,5842,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,1,0,0,0,1,10
5843,5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.78,4.00,1,0,0,0,1,9
5844,5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,4.78,2.90,1,0,0,0,1,12
5845,5845,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,4.78,2.65,0,0,1,0,1,11
5846,5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,4.78,2.50,1,0,0,0,1,13

Perform select, filter, rename, mutate, arrange and summarize with group by operations

In [10]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Assignment_2/clean_data.csv')
selected_df = df[['Location', 'Mileage']]
filtered_df = df[df['Mileage'] > 20]
renamed_df = df.rename(columns={'Mileage': 'new_mileage', 'Power': 'new_power'})
df['mileage_power_ratio'] = df['Mileage'] / df['Power']
arranged_df = df.sort_values(by='Mileage', ascending=False)
summarized_df = df.groupby('Location').agg({'Power': 'sum'})
print("Selected Columns:")
print(selected_df)
print("\nFiltered Rows:")
print(filtered_df)
print("\nRenamed Columns:")
print(renamed_df)
print("\nMutated DataFrame:")
print(df)
print("\nArranged DataFrame:")
print(arranged_df)
print("\nSummarized DataFrame:")
print(summarized_df)

Selected Columns:
        Location  Mileage
0           Pune    19.67
1        Chennai    13.00
2        Chennai    20.77
3     Coimbatore    15.20
4         Jaipur    23.08
...          ...      ...
5842       Delhi    28.40
5843      Jaipur    24.40
5844      Jaipur    14.00
5845     Kolkata    18.90
5846   Hyderabad    25.44

[5847 rows x 2 columns]

Filtered Rows:
      Unnamed: 0                                 Name    Location  Year  \
2              2                    Maruti Ertiga VDI     Chennai  2012
4              4               Nissan Micra Diesel XV      Jaipur  2013
6              6  Volkswagen Vento Diesel Comfortline        Pune  2013
7              7       Tata Indica Vista Quadrajet LS     Chennai  2012
8              8                     Maruti Ciaz Zeta       Kochi  2018
...          ...                                  ...         ...   ...
5833        5833             Maruti Vitara Brezza VDi        Pune  2016
5841        5841                Honda Amaze VX i-DTEC  Coimbatore  2015
5842        5842                     Maruti Swift VDI       Delhi  2014
5843        5843             Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5846        5846                Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
2                 87000      First    20.77  1248.0   88.76    7.0       4.78
4                 86999      First    23.08  1461.0   63.10    5.0       4.78
6                 64430      First    20.54  1598.0  103.60    5.0       4.78
7                 65932     Second    22.30  1248.0   74.00    5.0       4.78
8                 25692      First    21.56  1462.0  103.25    5.0      10.65
...                 ...        ...      ...     ...     ...    ...        ...
5833              37208      First    24.30  1248.0   88.50    5.0       9.93
5841              70602      First    25.80  1498.0   98.60    5.0       4.78
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.78
5846              47000      First    25.44   936.0   57.60    5.0       4.78

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
2      6.00                 1                   0                 0
4      3.50                 1                   0                 0
6      5.20                 1                   0                 0
7      1.95                 1                   0                 0
8      9.95                 0                   0                 1
...     ...               ...                 ...               ...
5833   7.43                 1                   0                 0
5841   4.83                 1                   0                 0
5842   4.75                 1                   0                 0
5843   4.00                 1                   0                 0
5846   2.50                 1                   0                 0

      Transmission_Automatic  Transmission_Manual
2                          0                    1
4                          0                    1
6                          0                    1
7                          0                    1
8                          0                    1
...                      ...                  ...
5833                       0                    1
5841                       0                    1
5842                       0                    1
5843                       0                    1
5846                       0                    1

[1868 rows x 17 columns]

Renamed Columns:
      Unnamed: 0                              Name    Location  Year  \
0              0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              1                      Honda Jazz V     Chennai  2011
2              2                 Maruti Ertiga VDI     Chennai  2012
3              3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              4            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        5842                  Maruti Swift VDI       Delhi  2014
5843        5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        5844             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        5845                Maruti Wagon R VXI     Kolkata  2013
5846        5846             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  new_mileage  Engine  new_power  Seats  \
0                 41000      First        19.67  1582.0     126.20    5.0
1                 46000      First        13.00  1199.0      88.70    5.0
2                 87000      First        20.77  1248.0      88.76    7.0
3                 40670     Second        15.20  1968.0     140.80    5.0
4                 86999      First        23.08  1461.0      63.10    5.0
...                 ...        ...          ...     ...        ...    ...
5842              27365      First        28.40  1248.0      74.00    5.0
5843             100000      First        24.40  1120.0      71.00    5.0
5844              55000     Second        14.00  2498.0     112.00    8.0
5845              46000      First        18.90   998.0      67.10    5.0
5846              47000      First        25.44   936.0      57.60    5.0

      New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Electric  \
0          4.78  12.50                 1                   0
1          8.61   4.50                 0                   0
2          4.78   6.00                 1                   0
3          4.78  17.74                 1                   0
4          4.78   3.50                 1                   0
...         ...    ...               ...                 ...
5842       7.88   4.75                 1                   0
5843       4.78   4.00                 1                   0
5844       4.78   2.90                 1                   0
5845       4.78   2.65                 0                   0
5846       4.78   2.50                 1                   0

      Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual
0                    0                       0                    1
1                    1                       0                    1
2                    0                       0                    1
3                    0                       1                    0
4                    0                       0                    1
...                ...                     ...                  ...
5842                 0                       0                    1
5843                 0                       0                    1
5844                 0                       0                    1
5845                 1                       0                    1
5846                 0                       0                    1

[5847 rows x 17 columns]

Mutated DataFrame:
      Unnamed: 0                              Name    Location  Year  \
0              0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              1                      Honda Jazz V     Chennai  2011
2              2                 Maruti Ertiga VDI     Chennai  2012
3              3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              4            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        5842                  Maruti Swift VDI       Delhi  2014
5843        5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        5844             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        5845                Maruti Wagon R VXI     Kolkata  2013
5846        5846             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0       4.78
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0       4.78
3                 40670     Second    15.20  1968.0  140.80    5.0       4.78
4                 86999      First    23.08  1461.0   63.10    5.0       4.78
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0       4.78
5844              55000     Second    14.00  2498.0  112.00    8.0       4.78
5845              46000      First    18.90   998.0   67.10    5.0       4.78
5846              47000      First    25.44   936.0   57.60    5.0       4.78

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0     12.50                 1                   0                 0
1      4.50                 0                   0                 1
2      6.00                 1                   0                 0
3     17.74                 1                   0                 0
4      3.50                 1                   0                 0
...     ...               ...                 ...               ...
5842   4.75                 1                   0                 0
5843   4.00                 1                   0                 0
5844   2.90                 1                   0                 0
5845   2.65                 0                   0                 1
5846   2.50                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  mileage_power_ratio
0                          0                    1             0.155864
1                          0                    1             0.146561
2                          0                    1             0.234002
3                          1                    0             0.107955
4                          0                    1             0.365769
...                      ...                  ...                  ...
5842                       0                    1             0.383784
5843                       0                    1             0.343662
5844                       0                    1             0.125000
5845                       0                    1             0.281669
5846                       0                    1             0.441667

[5847 rows x 18 columns]

Arranged DataFrame:
      Unnamed: 0                                         Name    Location  \
864          864                             Maruti Swift ZDI       Delhi
2361        2361                             Maruti Dzire VDI   Hyderabad
2670        2670                         Maruti Swift AMT VDI       Delhi
1208        1208                             Maruti Swift VDI       Kochi
4198        4198                        Maruti Swift DDiS VDI  Coimbatore
...          ...                                          ...         ...
4877        4877               Land Rover Freelander 2 TD4 SE   Hyderabad
2998        2998                  Audi A7 2011-2015 Sportback     Kolkata
524          524  Mercedes-Benz New C-Class Progressive C 200       Kochi
2950        2950                       Hyundai Santro Xing GL     Kolkata
186          186                           Honda City 1.5 GXI   Ahmedabad

      Year  Kilometers_Driven Owner_Type  Mileage  Engine   Power     Seats  \
864   2012              52000      First     28.4  1248.0   74.00  5.000000
2361  2011             110000      First     28.4  1248.0   73.75  5.000000
2670  2018              11500      First     28.4  1248.0   74.00  5.000000
1208  2017              34613      First     28.4  1248.0   74.00  5.000000
4198  2019              41075      First     28.4  1248.0   74.00  5.000000
...    ...                ...        ...      ...     ...     ...       ...
4877  2013              46000     Second      0.0  2179.0  115.00  5.000000
2998  2012              24720     Second      0.0  2967.0  241.40  5.000000
524   2019              13190      First      0.0  1950.0  181.43  5.000000
2950  2009              60170      First      0.0  1086.0   62.00  5.000000
186   2007              60006      First      0.0  1197.0   74.00  5.286452

      New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Electric  \
864        4.78   3.55                 1                   0
2361       9.14   4.00                 1                   0
2670       4.78   7.50                 1                   0
1208       7.92   6.24                 1                   0
4198       4.78   8.40                 1                   0
...         ...    ...               ...                 ...
4877       4.78  26.00                 1                   0
2998       4.78  28.00                 1                   0
524       49.49  38.99                 0                   0
2950       4.78   1.15                 0                   0
186        4.78   2.95                 0                   0

      Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual  \
864                  0                       0                    1
2361                 0                       0                    1
2670                 0                       1                    0
1208                 0                       0                    1
4198                 0                       0                    1
...                ...                     ...                  ...
4877                 0                       1                    0
2998                 0                       1                    0
524                  1                       1                    0
2950                 1                       0                    1
186                  1                       0                    1

      mileage_power_ratio
864              0.383784
2361             0.385085
2670             0.383784
1208             0.383784
4198             0.383784
...                   ...
4877             0.000000
2998             0.000000
524              0.000000
2950             0.000000
186              0.000000

[5847 rows x 18 columns]

Summarized DataFrame:
                Power
Location
Ahmedabad   24082.910
Bangalore   46404.660
Chennai     51568.510
Coimbatore  79088.775
Delhi       65192.080
Hyderabad   77923.730
Jaipur      37797.335
Kochi       73728.960
Kolkata     53308.160
Mumbai      93231.600
Pune        61647.350

In [11]:
df.to_csv('/content/drive/MyDrive/Assignment_2/Result.csv')